<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${category}" th:action="@{/newCategory}" th:method="post">
    <fieldset style="width: fit-content; height: fit-content">
        <legend><h2 style="color: darkblue">New Category Entry</h2></legend>
        <p>Name:&nbsp;<input th:field="*{name}"></p>
        <p>Description:&nbsp;<input th:field="*{description}"></p>
    </fieldset>
    <p><button type="submit" onclick="return confirm('Are You Sure?')">Add new category entry</button></p>
</form>
<p><a th:href="@{/categoryList}"><button type="button">Back</button></a></p>
</body>
</html>